@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(bg-gray-100); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  @apply bg-[#F8FAFC]
  
}



/* TYPOGRAPHY */

@layer components {
  h1 {
    @apply font-semibold text-black text-5xl md:text-6xl mb-6;
  }
}



@layer components {
  .subtitle {
    @apply text-lg font-normal md:text-xl text-slate-600 max-w-3xl mx-auto;
  }
}

@layer components{
  h2{
    @apply text-2xl font-bold text-slate-800
  }
}

@layer components{
  h3{
    @apply text-xl font-semibold text-slate-900 mb-2
  }
}


@layer components {
  input{
    @apply text-slate-700 px-4 flex w-full rounded-md border  md:text-sm mt-2 h-11
  }
}


@layer components{
  label{
    @apply text-sm text-black/90  font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70
  }
}